@model PressCenters.Web.ViewModels.MainNews.MainNewsComponentViewModel

<div class="g-mb-20">
    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-10">
        <h3 class="h4 g-color-black mb-0">Водещи новини</h3>
    </div>
    @foreach (var news in this.Model.MainNews)
    {
        <article class="media g-mb-10">
            <a class="d-flex mr-3" href="@news.OriginalUrl" target="_blank">
                <img class="rounded g-width-75 g-height-55" src="@news.ImageUrl" alt="Image description">
            </a>
            <div class="media-body">
                <h3 class="h6">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="@news.OriginalUrl" target="_blank">@news.Title</a>
                </h3>
                <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                    <li class="list-inline-item">
                        <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="@news.SourceUrl">@news.SourceName</a>
                    </li>
                    <li class="list-inline-item">/</li>
                    <li class="list-inline-item">
                        @news.CreatedOn.ToString("dd/MM/yyyy HH:mm")
                    </li>
                </ul>
            </div>
        </article>
    }
</div>
