@using System.Globalization
@model PressCenters.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Прессъобщения";
}


@foreach (var news in this.Model.News)
{
    <article class="g-mb-20 clearfix">
        <div class="g-pos-rel px-2">
            <h2 class="h4">
                <a class="u-link-v5 g-color-black g-color-primary--hover" href="#!">@news.SourceShortName: @news.Title</a>
            </h2>
            
            <div class="media">
                <a class="d-flex mr-2">
                    <img class="rounded g-width-100 g-height-60" src="@news.ImageUrl" alt="@news.Title" title="@news.Title" />
                </a>
                <p class="g-color-gray-dark-v4">
                    @news.ShortContent
                </p>
            </div>

            <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mb-10">
                <li class="list-inline-item">
                    <span class="g-font-size-13">
                        <a href="@news.SourceUrl" target="_blank">@news.SourceName</a>
                    </span>
                </li>
                <li class="list-inline-item ml-auto">
                    <span class="g-color-gray-dark-v5">@news.CreatedOn.ToString("ddd, dd MMM yyyy HH:mm", new CultureInfo("bg-BG"))</span>
                </li>
            </ul>
        </div>
    </article>
}

<!-- Pagination -->
<nav aria-label="Страници новини">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-label="Предишна">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item active"><a class="page-link" href="/News/List/1">1</a></li>
        <li class="page-item"><a class="page-link" href="/News/List/2">2</a></li>
        <li class="page-item"><a class="page-link" href="/News/List/3">3</a></li>
        <li class="page-item"><a class="page-link" href="/News/List/4">4</a></li>
        <li class="page-item"><a class="page-link" href="/News/List/5">...</a></li>
        <li class="page-item"><a class="page-link" href="/News/List/1310">1310</a></li>
        <li class="page-item"><a class="page-link" href="/News/List/1311">1311</a></li>
        <li class="page-item"><a class="page-link" href="/News/List/1312">1312</a></li>
        <li class="page-item">
            <a class="page-link" href="/News/List/2" aria-label="Следваща">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
