@using PressCenters.Common
@{
    this.ViewData["Title"] = "Политика за опазване на личните данни";
}

<h3>@this.ViewData["Title"]</h3>
<p class="text-justify">Тази политика се отнася за информацията, която може да се събира на уеб-сайта @GlobalConstants.SystemName.</p>
<p class="text-justify"><b>Като се регистрирате в @GlobalConstants.SystemName или попълните формата ни за контакт, вие се съгласявате да приемете практиките описани в тази Политика за опазване на личните данни и да ни предоставите действителна и вярна информация, доколкото тя се касае за вас.</b></p>
<p class="text-justify">
    @GlobalConstants.SystemName знае, че вие сте загрижени за това как информацията за вас се използва и споделя, и ние оценяваме вашето доверие, че ние ще правим това внимателно и разумно.
    @GlobalConstants.SystemName се ангажира да спазва и уважава вашите желания относно информацията, която събираме за вас на нашия уеб сайт.
</p>

<h4>Лична информация</h4>
<p class="text-justify">Информацията, която научаваме от вас, ни помага да персонализираме и непрекъснато да подобряваме начина, по който пазарувате @GlobalConstants.SystemName.</p>
<p class="text-justify">Историята на вашите транзакции и информацията, която ни предоставяте онлайн на @GlobalConstants.SystemName, по телефон или по електронна поща надеждно се съхранява в нашата клиентска база данни и може да се предоставя само на свързаните с нас компании или някои трети страни, които сме проверили внимателно по отношение на тяхната надеждност и почтеност.</p>
<p class="text-justify">@GlobalConstants.SystemName, както и други трети страни, обслужващи поръчката ви, може да ви предоставят информация, свързана с регистрацията и плащането по поръчката ви, в това число рекламни, информационни и други съобщения, на посочения от вас имейл адрес и/или телефонен номер.</p>
<p class="text-justify">@GlobalConstants.SystemName има правомощия да обработва личните ви данни (в това число, но не само име, фамилия, email адрес) и да ги изпраща на посочените по-горе трети страни, за да изпълни задълженията си по поръчката ви.</p>
<p class="text-justify">Част от информацията, която получаваме от вас, е доброволно подадена, макар много от нея да е нужна, за да изпълняваме както трябва вашите заявки. Неподаването на такава инфомация може да доведе до отказ на вашата поръчка. Освен за изпълняване на вашите поръчки, ние използваме информацията, която ни давате, за такива цели като отговаряне на ваши запитвания, къстомизиране на вашето бъдещо пазаруване, подобряване на нашите складове и комуникиране с вас.</p>
<p class="text-justify">Всяка персонална информация, която вие ни разкривате, е защитена. @GlobalConstants.SystemName поддържа стандарти и процедури за защита от неоторизирания достъп до клиентска информация, за да предотвратява неоторизираното премахване или променяне на данните. @GlobalConstants.SystemName посреща възприетите стандарти за сигурност на всички транзакции, които могат да включват заплащане на такси чрез услуга налична от този сайт, включително използването на криптиране и SSL услуги. За вас е важно да се защитавате от неотоизиран достъп до вашата парола и вашия компютър. Винаги проверявайте дали сте се &bdquo;отписали&rdquo; след като завършите използването на споделен компютър.</p>
<p class="text-justify">По всяко време можете да влизате в сайта и да поправяте цялата информация, която се отнася до вас и която се съхранява от @GlobalConstants.SystemName. Вие можете по всяко време да подадете искане към @GlobalConstants.SystemName да разкрие с каква лична информация разполагаме за вас и по поискване да промените тази информация.</p>

<h4>Политика за електронната поща</h4>
<p class="text-justify">Освен изключенията отбелязани в тази политика, @GlobalConstants.SystemName никога няма да продава, споделя или по какъвто и да било друг начин да разпространява вашия e-mail адрес, който сте ни изпратили, или който по друг начин е получен чрез вашето използване на сайта. Всеки e-mail адрес изпратен директно на @GlobalConstants.SystemName ще остане единствено притежание на @GlobalConstants.SystemName и свързаните с нея компании.</p>
<p class="text-justify"><b>Ако не желаете да получавате промоционни имейли от @GlobalConstants.SystemName в бъдеще,</b> моля известете ни чрез формата за контакт .</p>
<p class="text-justify">Ако ни предоставите вашия пощенски адрес, можете да получавате периодични имейли от нас с информация за нови продукти и услуги, или за очаквани събития. <b> Ако не желаете да получавате подобни имейли, моля свържете се с нас чрез формата ни за контакти.</b></p>

<h4>Бисквитки</h4>
<p class="text-justify">Както повечето уеб сайтове, които извършват продажби на дребно, ние използваме &quot;бисквитки&quot; (&quot;cookies&quot;), които представляват парчета данни изпращани към вашия браузър, които позволяват на нашия уеб сайт да ви идентифицира, когато осъществявате достъп до него. Макар да се изразява известна загриженост за възможни усложнения по отношение на личната информация чрез &quot;бисквитки&quot;, за вас е важно да разберете, че &quot; бисквитки&quot; не могат да извличат никаква информация за вас, която вие не сте вече разкрили доброволно. Ако желаете, &quot;help&quot; частта от лентата с инструменти на повечето браузъри ще ви даде информация как да предотвратявате приемането на нови  &bdquo;бисквитки&rdquo; от вашия браузър, как браузърът да ви информира, когато получавате нова  &quot;бисквитки&quot;, или как напълно да деактивирате  &quot;бисквитки&quot;.</p>
<p class="text-justify">Ако имате някакви въпроси относно който и да е от елементите на нашата уеб политика за опазване на личните данни, моля пишете ни чрез формата за контакт.</p>
