@model PressCenters.Web.ViewModels.Home.ServicesViewModel
@{
    this.ViewData["Title"] = "Услуги";
}

<h3>Безплатен достъп</h3>
<p>Безплатният достъп до сайта не изисква потребителско име и парола и включва следните услуги:</p>
<ul>
    <li>Достъп до най-новите новини и прессъобщения от <a asp-controller="Sources" asp-action="List">@this.Model.SourcesCount източника</a>.</li>
    <li>Преглед на всяка една от нашите <a asp-controller="News" asp-action="List">@this.Model.NewsCount новини</a> индивидуално, заедно с прилежащото ѝ съдържание, снимка и официален линк към източника.</li>
    <li>Преглед на последните новини от @this.Model.MainNewsSourcesCount новинарски сайта.</li>
</ul>
<hr />

<h3>Платен достъп</h3>
<p>Платеният достъп до сайта става чрез потребителско име и парола и предоставя следните допълнителни услуги към безплатния достъп:</p>
<ul>
    <li>Текстова търсачка в съдържанието на нашите @this.Model.NewsCount новини и прессъобщения.</li>
    <li>Възможност за получаване на последните новините през RSS четец.</li>
    <li>RSS достъп до всеки един от нашите <a asp-controller="Sources" asp-action="List">@this.Model.SourcesCount източника</a> поотделно.</li>
</ul>
<p>За получаване на платен достъп, свържете се с нас през <a asp-controller="Contacts" asp-action="Index">формата за контакт</a>.</p>
<hr />

<h3>Публикуване на прессъобщение</h3>
<p>Публикуването на прессъобщение в сайта, можете да направите като се свържете с нас през <a asp-controller="Contacts" asp-action="Index">формата за контакт</a>.</p>
<p>Прессъобщения, свързани с некомерсиални и благотворителни събития и дейности, се публикуват безплатно.</p>
<p>За интегриране на ваш източник на новини и прессъобщения, моля свържете се с нас през <a asp-controller="Contacts" asp-action="Index">формата за контакт</a>.</p>
<hr />