@model PressCenters.Web.ViewModels.Home.ServicesViewModel
@{
    this.ViewData["Title"] = "Услуги";
}

<h3>Безплатен достъп</h3>
<p>Безплатният достъп до сайта не изисква потребителско име и парола и включва следните услуги:</p>
<ul>
    <li>Достъп до най-новите новини и прессъобщения от <a asp-controller="Sources" asp-action="List">@this.Model.SourcesCount източника</a>.</li>
    <li>Преглед на всяка една от нашите <a asp-controller="News" asp-action="List">@this.Model.NewsCount новини</a> индивидуално, заедно с прилежащото ѝ съдържание, снимка и официален линк към източника.</li>
    <li>Преглед на последните новини от @this.Model.MainNewsSourcesCount новинарски сайта.</li>
</ul>
<hr />

<h3>Достъп след безплатна регистрация</h3>
<p>Достъпът с регистрация става чрез потребителско име и парола и предоставя следните допълнителни услуги към безплатния достъп:</p>
<ul>
    <li>Текстова търсачка в съдържанието на нашите @this.Model.NewsCount новини и прессъобщения.</li>
    @*<li>Филтриране на новините по дата.</li>*@
    <li>Възможност за получаване на последните новини чрез RSS четец.</li>
    <li>RSS достъп до всеки един от нашите <a asp-controller="Sources" asp-action="List">@this.Model.SourcesCount източника</a> поотделно.</li>
    @*<li>На потребителите с платен достъп не се показват реклами.</li>*@
</ul>
<p>За да се регистрирате, моля попълнете <a asp-area="Identity" asp-page="/Account/Register">формата за регистрация</a>.</p>
<hr />

<h3>Публикуване на прессъобщение</h3>
<p>Публикуването на прессъобщение в сайта, можете да направите като се свържете с нас през <a asp-controller="Contacts" asp-action="Index">формата за контакт</a>.</p>
<p>Прессъобщения, свързани с некомерсиални и благотворителни събития и дейности, се публикуват безплатно.</p>
<p>За интегриране на ваш източник на новини и прессъобщения, моля свържете се с нас през <a asp-controller="Contacts" asp-action="Index">формата за контакт</a>.</p>
<hr />

<h3>Закупуване на цялата база данни с новини</h3>
<p>Ако имате интерес към закупуване на цялата ни база данни с @this.Model.NewsCount новини и прессъобщения в JSON, XML или PDF формат, моля свържете се с нас през <a asp-controller="Contacts" asp-action="Index">формата за контакт</a>.</p>
<hr />
