@model PressCenters.Web.ViewModels.News.NewsViewModel
@{
    this.ViewData["Title"] = this.Model.Title;
}

<h3 class="g-mb-15">@this.Model.Title</h3>

<div class="media g-font-size-12 g-color-gray-dark-v4 g-mb-20">
    <div class="media-body align-self-center">
        <a href="@this.Model.SourceUrl" taget="_blank">@this.Model.SourceName</a>
        <span class="g-mx-6">/</span>
        <span>@this.Model.CreatedOnAsString</span>
        <span class="g-mx-6">/</span>
        <a href="@this.Model.OriginalUrl" target="_blank">@this.Model.ShorterOriginalUrl</a>
    </div>
</div>

<img class="img-fluid w-100 g-mb-20 g-mb-0--md" src="@this.Model.ImageUrl" alt="@this.Model.Title" title="@this.Model.Title">

<hr />

<div>
    @this.Html.Raw(this.Model.SanitizedContent)
</div>
