@using PressCenters.Common
@model PressCenters.Web.ViewModels.News.NewsListViewModel
@{
    if (this.Model.CurrentPage != 1)
    {
        this.ViewData["Title"] = "Всички прессъобщения, страница " + this.Model.CurrentPage;
    }
    else
    {
        this.ViewData["Title"] = $"{GlobalConstants.SystemSlogan} ({this.Model.NewsCount})";
    }
}

@if (!string.IsNullOrWhiteSpace(this.Model.Search))
{
    <h3>Търсене за "@this.Model.Search", страница @this.Model.CurrentPage, резултати @this.Model.NewsCount</h3>
}

@if (this.User.IsInRole(GlobalConstants.ProUserRoleName))
{
    <form method="get" asp-controller="News" asp-action="List" asp-route-id="1">
        <div class="input-group mb-4">
            <input type="search" name="search" class="form-control" value="@this.Model.Search" placeholder="Въведете думи за търсене, разделени с интервал..." />
            <div class="input-group-append">
                <input type="submit" value="Търси" class="btn btn-outline-secondary" />
            </div>
        </div>
    </form>
}

@foreach (var news in this.Model.News)
{
    <article class="g-mb-20 clearfix">
        <div class="g-pos-rel px-2">
            <h3 class="h5">
                <a class="u-link-v5 g-color-black g-color-primary--hover" href="@news.Url"><span title="@news.SourceName">@news.SourceShortName</span>: @news.Title</a>
            </h3>
            <div class="media">
                <a class="d-flex mr-2">
                    <img class="rounded g-width-100 g-height-60" src="@news.ImageUrl" alt="@news.Title" title="@news.Title" />
                </a>
                <p class="g-color-gray-dark-v4 text-justify mb-2">
                    @news.ShortContent
                </p>
            </div>
            <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mb-10">
                <li class="list-inline-item">
                    <span class="g-font-size-13">
                        <a href="@news.OriginalUrl" target="_blank">@news.SourceName</a>
                    </span>
                </li>
                <li class="list-inline-item ml-auto">
                    <span class="g-color-gray-dark-v5">@news.CreatedOnAsString</span>
                </li>
            </ul>
        </div>
    </article>
}

<!-- Pagination -->
<nav aria-label="Страници новини">
    <ul class="pagination justify-content-center">
        @if (this.Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="News" asp-action="List" asp-route-id="@this.Model.PreviousPage" asp-route-search="@this.Model.Search" aria-label="Предишна">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @{
            const int MorePagesToShow = 3;
            var pagesToShow = new List<int>();
            for (var i = 1; i <= MorePagesToShow; i++)
            {
                pagesToShow.Add(i);
            }
            for (var i = this.Model.CurrentPage - MorePagesToShow; i <= this.Model.CurrentPage + MorePagesToShow; i++)
            {
                if (i > 0)
                {
                    pagesToShow.Add(i);
                }
            }
            for (var i = this.Model.PagesCount - MorePagesToShow + 1; i <= this.Model.PagesCount; i++)
            {
                if (i > 0)
                {
                    pagesToShow.Add(i);
                }
            }
            pagesToShow = pagesToShow.Where(x => x <= this.Model.PagesCount).Distinct().OrderBy(x => x).ToList();
        }
        @for (var i = 0; i < pagesToShow.Count; i++)
        {
            var className = string.Empty;
            var pageNumber = pagesToShow[i];
            if (pageNumber == this.Model.CurrentPage)
            {
                className = "active";
            }
            if (i > 0 && pageNumber - 1 != pagesToShow[i - 1])
            {
                <li class="page-item @className"><a class="page-link" asp-controller="News" asp-action="List" asp-route-id="@(pagesToShow[i - 1] + 1)" asp-route-search="@this.Model.Search" >...</a></li>
            }
            <li class="page-item @className"><a class="page-link" asp-controller="News" asp-action="List" asp-route-id="@pageNumber" asp-route-search="@this.Model.Search" >@pageNumber</a></li>
        }
        @if (this.Model.CurrentPage < this.Model.PagesCount)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="News" asp-action="List" asp-route-id="@this.Model.NextPage" asp-route-search="@this.Model.Search"  aria-label="Следваща">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>
